<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    body {
      padding: 0;
      margin: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgb(27, 27, 35);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      border: 2px solid white;
    }
    #quote {
      color: white;
    }
    #author {
      color: white;
    }
  </style>
  <body>
    <div class="container">
      <p id="quote"></p>
      <span id="author"></span>
      <button id="btn">Generate Quote</button>
    </div>
    <script>
      const btn = document.querySelector('#btn')
      const quote = document.querySelector('#quote')
      const author = document.querySelector('#author')
      let newArr = []
      fetch('https://type.fit/api/quotes')
        .then((res) => res.json())
        .then((data) => {
          newArr.push(...data)
          console.log(newArr)
        })
      btn.addEventListener('click', () => {
        let index = Math.floor(Math.random() * newArr.length)

        quote.innerText = newArr[index].text
        author.innerText = newArr[index].author
      })
    </script>
  </body>
</html>
